<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="${request.contextPath}/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/myself/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <form>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">登录名：</label>
                        <div class="layui-input-block">
                            <input type="text" name="userName" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px;">登录时间：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="loginTime" id="loginTime" placeholder=" - ">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="user-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="layui-card-body">
            <table id="user-table" lay-filter="user-table"></table>
            <script type="text/html" id="user-toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
                </div>
            </script>
            <script type="text/html" id="sexTpl">
                {{#  if(d.gender == 0){ }}
                <span style="color: #F581B1;">女</span>
                {{#  } else { }}
                男
                {{#  } }}
            </script>
            <script type="text/html" id="statusTpl">
                {{#  if(d.locked == 1){ }}
                <input type="checkbox" name="lock" value="{{d.id}}" title="锁定" lay-filter="userLock">
                {{#  } else { }}
                <input type="checkbox" name="lock" value="{{d.id}}" title="锁定" lay-filter="userLock" checked>
                {{#  } }}
            </script>
            <script type="text/html" id="user-bar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="resetPassword"><i class="layui-icon layui-icon-password"></i>密码重置</a>
            </script>
        </div>
    </div>
</div>


<script src="${request.contextPath}/layuiadmin/layui/layui.js" charset="utf-8"></script>
<script>
layui.config({
  base: '${request.contextPath}/layuiadmin/'
}).extend({
    userList: 'res/js/modules/user/userList'
}).use('userList',{})
</script>
</body>
</html>