<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>websocket管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="${request.contextPath}/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/myself/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <form>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">客户端ID：</label>
                        <div class="layui-input-block">
                            <input type="text" name="clientId" placeholder="请输入客户端ID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="ws-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="layui-card-body">
            <table id="ws-table" lay-filter="ws-table"></table>
            <script type="text/html" id="ws-toolbar">
                <div class="layui-btn-container">
                    {{# if(layui.data('auth').authList.indexOf("ws:add")>=0){ }}
                    <button id ="wsAdd" class="layui-btn layui-btn-sm" lay-event="add">添加一个连接</button>
                    {{# } }}
                    {{# if(layui.data('auth').authList.indexOf("ws:send")>=0){ }}
                    <button id ="wsSendAll" class="layui-btn layui-btn-sm" lay-event="send">群发</button>
                    {{# } }}
                </div>
            </script>
            <script type="text/html" id="ws-bar">
                {{# if(layui.data('auth').authList.indexOf("ws:closed")>=0){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="closed"><i class="layui-icon layui-icon-close"></i>关闭连接</a>
                {{# } }}
            </script>
        </div>
    </div>
</div>

<script src="${request.contextPath}/layuiadmin/layui/layui.js" charset="utf-8"></script>
<script>
layui.config({
  base: '${request.contextPath}/layuiadmin/'
}).extend({
    wsList: 'res/js/modules/ws/wsList'
}).use('wsList',{})
</script>
</body>
</html>