<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newera.marathon.service.system.mapper.SysResourceMapper">
    <resultMap id="QueryResourceMap" type="com.newera.marathon.dto.system.inquiry.XfaceSysResourceInquiryLoopResponseSubDTO">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="permission" property="permission"></result>
        <result column="icon" property="icon"></result>
        <result column="url" property="url"></result>
        <result column="priority" property="priority"></result>
        <result column="type" property="type"></result>
        <result column="available" property="available"></result>
    </resultMap>
    <resultMap id="LoopQueryResourceMap" extends="QueryResourceMap" type="com.newera.marathon.dto.system.inquiry.XfaceSysResourceInquiryLoopResponseSubDTO">
        <collection column="id" property="child" select="querySysResourceLoop"></collection>
    </resultMap>
    <select id="querySysResourceLoop" resultMap="LoopQueryResourceMap">
        select
        id,
        name,
        permission,
        icon,
        url,
        priority,
        type,
        available
        from t_sys_resource
        where parent_id=#{parentId} and available=1
        order by priority
    </select>
</mapper>
